body {
    font-family: Arial, sans-serif;
    padding-left: auto;
}

#output {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 30px;
    text-align: center;
}

form {
    font-size: 20px;
    padding-left: 30px;
    padding-bottom: 30px;
}

h1 {
    padding-left: 20px;
    padding-top: 20px;
}
